
/* css bien se preparer*/
img{
    
    width: 7em;
    height: 9em;
    opacity: 100%;
    margin-top: 1em;
}
h1{
    font-weight: bold;
    color: blue;
}
ul{
    padding: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
}
li{
    padding-top: 1em;
    height: 2em;
    font-size: 17px;
    font-weight: bold;
    list-style: none;
    border-radius: 7px;
    color: salmon;
}
.cadreli {
    margin-bottom: 3em;
    border-radius: 9px;
    border-style: groove;
    background-color: #f1f1f1;
    color: black;
  ;
}
a{
    color: #009688;
}
p{
    margin: 10px;
}

/*css grand ecran */
@media screen and (min-width : 426px) {
    img{
        margin: 1em;
        width: 16em;
        height: 14em;
        opacity: 100%;
    }
    .imgLeft{
        float: left;
    }
    .imgRight{
        float: right;
        margin-top: 67px;
    }
    .imgsavoiretre{
        margin-top: 4em;
        float: left;
    }
    h1{
        font-weight: bold;
        color: chartreuse;
    }
    li{
        padding-top: 1em;
        height: 2em;
        font-size: 20px;
         font-weight: bold;
        list-style: none;
        border-radius: 7px;
        color: antiquewhite;
        background-color: salmon;
        box-shadow: 6px 21px 15px -11px black;
    }
    p{
        margin-top: 2em;
    }
}
/* resolution 4k */
@media screen and (min-width : 1500px){
    li{
        font-weight: bold;
    }
    h1{
        font-weight: bold;
    }
    img{
        height: 26em;
        float: left;
        width: 30em;
    }
    p{
        margin-top: 1em;
        font-size: 2em;
    }
}
