.divContact {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.divInput {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.divMessage {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}
.button {
    height: 20px;
    width: 70px;
    margin-left: 48%;
    margin-right: 48%;
}

@media (min-width: 800px) {
    .divInput {
        width: 40%;
    }
    .button {
        height: 30px;
        width: 100px;
    }
    .divMessage {
        width: 40%;
    }
}

@media (max-width: 320px) {
    .button {
        margin-right: 0px;
    }
}


.texte {
    height: 20px;
    width: 100%;
}
.message {
    height: 100px;
    width: 100%;
}