/* Body CSS */
body {
    display: flex;
    flex-wrap: nowrap;
    margin: 0 auto;
    font-family: 'Monserrat', 'Open sans', 'sans-serif';
}

@media (min-width: 800px){
    body{
        display: flex;
        flex-wrap: wrap;
    }
}

.container-main {
    width: 37.5em;
    margin: 0px;
    padding-left: 12.5em;
  }
  
  @media (min-width: 800px) {
    .container-main {
      width: 100%;
      padding-left: 0;
    }
  }
  
  .container-main-body {
    padding: 1.5em;
  }

/* Articles CSS */
#flex-container1 {
    display: flex;
    font-size: 14px;
    font-family:'Raleway', sans-serif;
}

#flex-container2 {
    display: flex;
    justify-content: flex-end;
    font-size: 14px;
    font-family:'Raleway', sans-serif;
}

.articleCursus {
    padding: 15px;
    margin: 30px;
    margin-left: 50px;
    margin-right: 50px;
    align-items: center;
    text-align: center;
    box-shadow: 10px 10px 20px 10px rgba(0, 0, 255, .2);
    border: solid 1px rgba(155, 152, 152, 0.534);
    width: 50%;
    border-radius: 30px;
}

.articleDiv {
    background-color: white;
}

.h2index {
  width: 100%;
  color : #F76C6C;
}

@media (min-width: 800px) and (max-width: 999px) {
  .h2index {
    font-size: 23px;
  }
}
@media (max-width: 799px) {
  .h2index {
    font-size: 17px;
  }
}