/* Mise en page de la div comprenant le titre et le sous titre*/





/* Formulaire partie 1 contact reseaux sociaux CSS Fatima */

/* mise en page de la div réseaux sociaux comprenant le titre + les logos + la videos + le caroussel*/

.reseaux-sociaux {
    margin-left: 3rem;
    margin-right: 3rem;
}

/* mise en page de la div contacte_wild comprenant les logos + la video + le caroussel*/

.contacter_wild {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    align-content: flex-start;
    margin-left: 5%;
    width: 90%;
}

/* div comprenant les logos des réseaux sociaux*/

.logo-rs-wild {
    list-style: none;
    margin: 0;
    padding: 2%;
}

@media (max-width: 800px){
    .contacter_wild{
        display: flex;
        flex-direction: column;
    }
    .logo-rs-wild{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
    }
}

/* taille des logos*/

.logo-rs {
    width: 3.5rem;
}

/* mise en page de la div blog-wild comprenant la video et le caroussel*/

.blog-wild {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: stretch;
    width: 80%;
}


/*--------------------------------------------------------------------*/

/* Formulaire partie 1 contact reseaux sociaux CSS Fatima */

.formulaire {
    
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
    margin-left: 3rem;
    height: 50rem;
   
}

/* Formulaire CSS Thomas */

.divContact {

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;
    width: 100%;
    height: 80%;
}

.divInput {
    height: 10%;
    margin-bottom: 50px;
    
}

.divMessage {
    margin-bottom: 50px;
    width: 20rem;
}
#message{
    height: 20rem;
    width: 100%;
}
 #name, #email {
    height: 80%;
    width: 100%;
    border-radius: 3px;
    font-size: 15px;
}

.button {
    font: 16px;
    margin-left : 40%;
   
    background: #F76C6C;
    border-radius: 30px;
    color: white;
    letter-spacing: 1px;
}

@media (min-width: 800px) {
    .divInput {
        width: 60%;
    }
    .button {
        height: 40px;
        width: 10rem;
    }
    .divMessage {
        width: 60%;
    }
}

@media (max-width: 320px) {
    .button {
        margin-right: 0px;
    }
}