body {
    background-color: #D99F9F;
    margin: 0px;
}

#flex-container1 {
    display: flex;
    font-size: 14px;
    font-family:'Raleway', sans-serif;
}

#flex-container2 {
    display: flex;
    justify-content: flex-end;
    font-size: 14px;
    font-family:'Raleway', sans-serif;
}

.articleCursus {
    background-color: #F1F1F1;
    padding: 15px;
    margin: 30px;
    margin-left: 50px;
    margin-right: 50px;
    width: 50%;
}

.articleDiv {
    background-color: white;
    padding: 10px;
}

body {
    display: flex;
    flex-wrap: nowrap;
    margin: 0 auto;
    font-family: 'Monserrat', 'Open sans', 'sans-serif';
}

@media (min-width: 800px){
    body{
        display: flex;
        flex-wrap: wrap;
    }
}
.body {
    width: 37.5em;
    background-color: #D99F9F;
    margin: 0px;
}

@media (min-width: 800px){
    .body{
        width: 100%;
    }
}